@import "./_blog.css";
@import "./_markdown.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-family: Poppins, sans-serif;
}

main {
  min-height: 100vh;
}

img {
  max-width: 100%;
  object-fit: cover;
}

p {
  margin-bottom: 1rem;
}

ul {
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem;
}
