---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <main
    data-editable="source"
    data-path="/src/pages/avoyt.astro"
    data-key="main">
    <img src="/logos/logo-blue.png" />
    <h1>Hello!</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo
      integer malesuada nunc vel risus commodo viverra. Adipiscing enim eu
      turpis egestas pretium.
    </p>
    <p>
      Euismod elementum nisi quis eleifend quam adipiscing. In hac habitasse
      platea dictumst vestibulum. Sagittis purus sit amet volutpat. Netus et
      malesuada fames ac turpis egestas. Eget magna fermentum iaculis eu non
      diam phasellus vestibulum lorem.
    </p>
    <p>Varius sit amet mattis vulputate enim. Habitasse platea dictumst:</p>
    <ul>
      <li>Morbi tristique senectus et netus.</li>
      <li>Id semper risus in hendrerit gravida rutrum quisque non tellus.</li>
      <li>Habitasse platea dictumst quisque sagittis purus sit amet.</li>
      <li>Tellus molestie nunc non blandit massa.</li>
      <li>Cursus vitae congue mauris rhoncus.</li>
    </ul>
    <p>
      Accumsan tortor posuere ac ut. Fringilla urna porttitor rhoncus dolor.
      Elit ullamcorper dignissim cras tincidunt lobortis. In cursus turpis massa
      tincidunt dui ut ornare lectus.
    </p>
  </main>
</Layout>
