---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <main
    data-editable="source"
    data-path="/src/pages/index.astro"
    data-key="main">
    <!-- HTML and templating -->
    <h2>A heading of my own creation</h2>
    <img src="/alert.png" alt="Alert icon" />
    <p>This is a paragraph of text. It can be edited in the CMS.</p>
  </main>
</Layout>
