---
import "../styles/main.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    /* Max width and inline padding of the page */
    --pageContainer: 1280px;
    --pagePadding: 32px;
    /* The padding used between page sections (components) */
    --sectionPadding: 6rem;
    --sectionPaddingMobile: 3rem;
    --headerHeight: 4rem;
    --headerPadding: 1rem;
  }
</style>
