---
import Layout from "./Layout.astro";
import PostSummary from "@components/blog/summary.astro";
import PostHero from "@components/blog/post-hero.astro";
import { getCollection } from "astro:content";

type Props = {
  frontmatter: {
    title: string;
    post_hero: {
      heading: string;
      date: string | Date;
      image: string;
      image_alt: string;
      author: string;
      tags: Array<string>;
    };
  };
  body: string;
};

const { frontmatter, body } = Astro.props;

const posts = await getCollection("blog");
const filteredPosts = posts.filter(
  (post) => post.data.title !== frontmatter.title
);
---

<Layout {...frontmatter}>
  <div class="post-container">
    <article aria-labelled-by="blog-hero-text">
      <editable-component data-prop="post_hero" data-component="PostHero">
        <PostHero {...frontmatter.post_hero} bodyContent={body} />
      </editable-component>
      <div class="hero-image">
        {frontmatter.post_hero.image &&
          <img
            data-editable="image" /*1*/
            data-prop-src="post_hero.image" /*2*/
            data-prop-alt="post_hero.image_alt" /*3*/
            data-prop-title="post_hero.heading" /*4*/
            src={frontmatter.post_hero.image}
            title={frontmatter.post_hero.heading}
            alt={frontmatter.post_hero.image_alt}
          />
        }
      </div>
      <div class="markdown-text" data-pagefind-body>
        <editable-text data-prop="@content">
          <slot />
        </editable-text>
      </div>
    </article>
  </div>

  <section class="blog-recent-posts">
    <h2 class="blog-recent-posts-heading">Recent Posts</h2>
    <ul class="blog-recent-posts-list">
      {
        filteredPosts.slice(0, 3).map((post, i) => {
          return (
            <li>
              <PostSummary {...post} loading="lazy" />
            </li>
          );
        })
      }
    </ul>
  </section>

  <script>
    if (window.inEditorMode) {
      import "../scripts/register-components.js";
    }
  </script>
</Layout>
